<h1>My Portfolio</h1>

<p><%= @welcome_message %></p>
<p><%= @summary %></p>

<div>
  <h2>Explore</h2>
  <ul>
    <li><a href="<%= about_path %>">About Me</a></li>
    <li><a href="<%= work_path %>">My Work</a></li>
    <li><a href="<%= contact_path %>">Contact Me</a></li>
  </ul>
</div>